.wrapper {
    font-family: Raleway;
    font-variant: all-small-caps;
    text-align: center;
    text-align: center;
    color: #FEF2E7;
    background-color: #000300;
    width: 350px;
    height: 90px;
    margin: 50px 0 0 20px;
    overflow-y: auto;
}

.title {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2em;
    height: 22px;
    overflow-y: auto;
}

.title2 {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
    height: 26px;
    overflow-y: auto;
}

